*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #eee8ee;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
}
.watchband{
    background: rgb(233, 192, 186);
    width: 400px;
    height: 70px;
    box-shadow: 1px 1px 2px #977a97;
    position: relative;
}
.left{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.right{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.right::after{
    content: "";
    background: #eee8ee;
    position: absolute;
    width: 20px;
    height: 50px;
    right: 90px;
    top: 10px;
    box-shadow: inset -2px 2px 5px rgb(43, 39, 39);
    border-radius: 10px;
}
.left::after{
    content: url(pic/bandappelwatch.jpg);
    position: absolute;
    top: 15px;
    left: 150px;
}
.clock-display{
    background: rgb(59, 58, 58);
    width: 160px;
    height: 130px;
    border-radius: 20px;
    border: 9px solid rgb(233, 192, 186);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.clock-display::after{
    content: "";
    background: rgb(97, 84, 84);
    width: 18px;
    height: 5px;
    top: -12px;
    right: 25px;
    border-radius: 9px 9px 0 0;
    position: absolute;
}
.time{
    transform: rotate(90deg);
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
